<footer class="footer">
    <div class="container">
        <div class="footer_content">
            <div class="footer_icon">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/alliance_kumite/?hl=ru"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="footer_title">
                <a href="mailto:tatarchenkoiu@ukr.net">E-mail: tatarchenkoiu@ukr.net</a>
                <a href="tel:+380677887728">Phone: +380677887728</a>
            </div>
        </div>
    </div>
</footer>