<header class="header">
    <div class="container">
        <div class="header_content">
            <div class="logo">
                <img src="../../../assets/img/landing/logotip.gif" alt="" routerLink = ''>
            </div>

            <nav class="header_nav">
                <li>
                    <a routerLink = '' class="nav_link">Главная</a>
                </li>
                <li>
                    <a routerLink = "blog" class="nav_link">Блог</a>
                </li>
                <li>
                    <a href="http://alliancekumite.com:4200/" class="nav_link">Войти</a>
                </li>

                <div class="header_burger">
                    <div id="open" (click)="openMenu()">
                        <span></span>
                    </div>

                    <div id="close" (click)="closeMenu()">
                        <span></span>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<div class="burger_menu" id="burger">
    <div class="burger_content">
        <a routerLink = '' class="nav_link" (click)="closeMenu()">Главная</a>
        <a href="http://alliancekumite.com:4200/" class="nav_link">Войти</a>
        <a routerLink = "blog" class="nav_link" (click)="closeMenu()">Блог</a>
        <a href="" class="nav_link" (click)="closeMenu()">Галлерея</a> -->
    </div>
</div>