<div class="section1">
  <div class="container">
    <div class="section1_content  wow fadeInDown">
      <h1>Измени привычному</h1>
      <span>Инновационная система ведения турниров</span>
    </div>
  </div>
</div>

<div class="section2"></div>

<div class="section3">
  <div class="container">
    <div class="section3_content">
      <div class="block">
        <div class="block_heading">
          <h2>Универсальность</h2>
        </div>
        <div class="block_body">
          <p>Проведение соревнований любого уровня : от внутриклубных до масштабных международных соревнований.</p>
        </div>
      </div>
      <div class="block">
        <div class="block_heading">
          <h2>Простота</h2>
        </div>
        <div class="block_body">
          <p>Дружеский человеко-машинный интерфейс позволяет освоить функции программы за короткое время. Не требуется
            никакой специальной подготовки и знаний при использовавнии программы.</p>
        </div>
      </div>
      <div class="block">
        <div class="block_heading">
          <h2>Информативность</h2>
        </div>
        <div class="block_body">
          <p>Возможность отслеживать ход проведения соревнований в онлайн режиме.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section4">
  <div class="container">

    <h2>О нас</h2>

    <div class="section4_content">
      <div class="section4_title">
        <p>Alliance Kumite – группа людей увлеченных киокушин карате
        </p>
        <p>Более 10 лет общения с различными клубами киокушин и анализ трудностей, которые возникали у клубов и
          федераций, при подготовке и проведении соревнований, вдохновили нас на создание программного продукта, который
          помог бы избежать этих трудностей или хотя бы сократить эти трудности до минимума. При разработке продукта мы
          старались учесть весь негативный опыт подготовки и проведения соревнований и выйти на другой уровень, при
          котором соревнования становятся просто увлекательным событием в жизни федераций, клубов, спортсменов.</p>
        <p>Авторы выражают благодарность спортивному клубу «КАНКУ» за предоставленную возможность тестирования программы
          на соревнованиях, проводимых СК «КАНКУ», г. Львов, Украина.</p>
      </div>

      <div class="section4_img">
        <img src="../../../assets/img/landing/123.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="section5">
  <div class="container">
    <h2>Как мы работаем</h2>

    <div class="section5_content">
      <div class="section5_block">
        <div class="section5_title">
          <h3>1. Принятие заявок</h3>
        </div>
        <div class="section5_body">
          <p>Вы подаете заявки через сайт Alliance Kumite или в виде файлов формата MS Excel. Дальше это наша работа. От Вас только достоверная информация об участниках.</p>
        </div>
      </div>
      <div class="section5_block">
        <div class="section5_title">
          <h3>2. Формирование категорий</h3>
        </div>
        <div class="section5_body">
          <p>В соответствии с вашим положением о турнире мы формируем категории участников по годам рождения и весу или полным годам и весу. Все зависит от вашего формата проведения турнира. </p>
        </div>
      </div>
      <div class="section5_block">
        <div class="section5_title">
          <h3>3. Проведение взвешивания</h3>
        </div>
        <div class="section5_body">
          <p>При необходимости, возможно проведение мандатной комиссии совместно с нашими представителями. При проведении мандатной комиссии возможна фотосъемка участников турнира.</p>
        </div>
      </div>
      <div class="section5_block">
        <div class="section5_title">
          <h3>4. Подготовка зала</h3>
        </div>
        <div class="section5_body">
          <p>Накануне турнира наши представители подключают все необходимое оборудование для проведения турнира. Организуют локальную сеть турнира.</p>
        </div>
      </div>
      <div class="section5_block">
        <div class="section5_title">
          <h3>5. Проведение турнира</h3>
        </div>
        <div class="section5_body">
          <p>На время проведения турнира от вас требуется только по одному человеку в качестве оператора за компьютер на каждое татами. Вся информация о ходе турнира обновляется непосредственно в зале и на сайте турнира.</p>
        </div>
      </div>
      <div class="section5_block">
        <div class="section5_title">
          <h3>6. Формирование результатов</h3>
        </div>
        <div class="section5_body">
          <p>Сразу же по окончании турнира формируются результаты турнира в разрезе: индивидуальный зачет, командный зачет, зачет по тренерам, зачет по федерациям и зачет по странам. Информация доступна на сайте турнира.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section6">
  <div class="container">
    <app-slider></app-slider>
  </div>
</div>

<div class="section7">
  <div class="container">
    <h2>Возможности и особенности</h2>

    <div class="section7_content">
      <div class="section7_block">
        <div class="section7_title">
          <img src="../../../assets/img/landing/camera.png" alt="">
        </div>
        <div class="section7_body">
          <p>Полноценная онлайн-поддержка ведения турниров: от подачи заявок до отслеживания поединков</p>
        </div>
      </div>
      <div class="section7_block">
        <div class="section7_title">
          <img src="../../../assets/img/landing/chip.png" alt="">
        </div>
        <div class="section7_body">
          <p>Интуитивно понятный интерфейс программы, позволяет за несколько несложных шагов сформировать общий список
            участников турнира</p>
        </div>
      </div>
      <div class="section7_block">
        <div class="section7_title">
          <img src="../../../assets/img/landing/internet.png" alt="">
        </div>
        <div class="section7_body">
          <p>Возможность просмотра предстоящих поединков. Оператор на татами отслеживает все поединки в пределах своего
            татами.</p>
        </div>
      </div>
      <div class="section7_block">
        <div class="section7_title">
          <img src="../../../assets/img/landing/settings.png" alt="">
        </div>
        <div class="section7_body">
          <p>Формирование, ведение и обработка заявок участников. Формирование онлайн заявок на соревнования</p>
        </div>
      </div>
      <div class="section7_block">
        <div class="section7_title">
          <img src="../../../assets/img/landing/notepad.png" alt="">
        </div>
        <div class="section7_body">
          <p>Формирование документа с номерами участников Формирование результатов турнира в разрезе: Категория, Тренер,
            Клуб, Страна.</p>
        </div>
      </div>
      <div class="section7_block">
        <div class="section7_title">
          <img src="../../../assets/img/landing/qr.png" alt="">
        </div>
        <div class="section7_body">
          <p>Формирование и обработка QR-кодов для спортсменов. Формирование бейджей для участников соревнований, судей,
            тренеров и т.д.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section8">
  <div class="container">
    <h2>Отзывы клиентов</h2>
    <div class="section8_content">

      <div class="section8_block">
        <div class="section8_img">
          <img src="../../../assets/img/landing/icon1.png" alt="">
        </div>

        <div class="section8_line"></div>

        <div class="section8_info">
          <h2>Роман Кривицкий</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cupiditate incidunt obcaecati architecto,
            labore culpa, aspernatur modi, error voluptatem aperiam, in deserunt distinctio iure consequatur. Voluptate
            praesentium, nostrum repellat dicta tempora aut officiis.</p>
        </div>
      </div>

      <div class="section8_block">
        <div class="section8_img">
          <img src="../../../assets/img/landing/icon1.png" alt="">
        </div>

        <div class="section8_line"></div>

        <div class="section8_info">
          <h2>Сергей Мутин</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing  elit. Libero cupiditate incidunt obcaecati architecto,
            labore culpa, aspernatur modi, error voluptatem aperiam, in deserunt distinctio iure consequatur. Voluptate
            praesentium, nostrum repellat dicta tempora aut officiis.</p>
        </div>
      </div>

      <div class="section8_block">
        <div class="section8_img">
          <img src="../../../assets/img/landing/icon1.png" alt="">
        </div>

        <div class="section8_line"></div>

        <div class="section8_info">
          <h2>Александр Лановой</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cupiditate incidunt obcaecati architecto,
            labore culpa, aspernatur modi, error voluptatem aperiam, in deserunt distinctio iure consequatur. Voluptate
            praesentium, nostrum repellat dicta tempora aut officiis.</p>
        </div>
      </div>

    </div>
  </div>
</div>
