.tournaments_body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: flex-start;
    flex-wrap: wrap;
    width: 101.5%;

    .tournament_block{
        width: 32%;
        min-height: 250px;
        max-height: auto;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

.blog{
    margin-top: 70px;
}

.top_tournament{
    margin-top: 125px;
}